/* Import Google fonts */
@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap')
;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background: #00BFFF;
    transition: all 0.5s ease;
}

/* Active bar*/
.sidebar.active {
    width: 70px;
}

/*
	LOGO STYLE
*/
.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

/*
	Navigation links STYLE
	navy = 081D45
*/
.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a, .dropdown-btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    padding: 6px 8px 6px 16px;
    cursor: pointer;
}

.sidebar .nav-links li a.active {
    background: #0F2852;
}

.sidebar .nav-links li a:hover, .dropdown-btn:hover {
    background: #14294E;
}

/* Drop down container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #00BFFF;
    padding-left: 20px;

}

/*
	Icons style
*/
.sidebar .nav-links li i, .dropdown-btn {
    min-width: 60px;
    text-align: center;
    color: #fff;
}

/*
	Links name style
*/
.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

/*
	Sign_out Style
*/
.sidebar .nav-links .sign_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
 Home Section
*/
.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active .home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

/* Menu */
.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
}

/* Search box */
.home-section nav .search-box {
    position: relative;
    height: 40px;
    max-width: 400px;
    width: 100%;
    margin: 0 10px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 10px;
    font-size: 15px;
    padding: 0 15px;
}

nav .search-box .search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    /*transition: all 0.4 ease;*/
}

/* Profile */
.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}


/* COntainers*/
.home-section .box-container {
    position: relative;
    padding-top: 104px;
}

.box-container {
    padding: 0.01em 20px
}

.card
{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

}

.heading-container1 h1
{
    color: #fff;
    background-color: #e5b600;
    font-size: 18px;


}
.heading-container2 h1
{
    color: #fff;
    background-color: #1F51FF;
    font-size: 18px;
}
.heading-container3 h1
{
    color: #fff;
    background-color: #4a010a;
    font-size: 18px;
}




/* Responsive Media Query */
@media ( max-width : 1240px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }
    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media ( max-width : 700px) {
    nav .sidebar-button .dashboard, nav .profile-details .admin_name, nav .profile-details i
    {
        display: none;
    }
    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
}

.sidebar.active ~ .home-section nav .profile-details {
    display: none;
}